*.log
*.gz
*.tar.gz
*.sql

/web/wp-config.php
/web/wp-content/advanced-cache.php
/web/wp-content/backup-db/
/web/wp-content/backups/
/web/wp-content/blogs.dir/
/web/wp-content/cache/
/web/wp-content/upgrade/
/web/wp-content/uploads/
/web/wp-content/wp-cache-config.php
/web/wp-content/plugins/hello.php

/web/.htaccess
/web/license.txt
/web/readme.html
/web/sitemap.xml
/web/sitemap.xml.gz

.idea
.vscode
.DS_Store