/* purgecss start ignore */
.wp-block-mc-blocks-card.is-style-horizontal {
    flex-direction: row;
}

.wp-block-mc-blocks-card.is-style-horizontal > div {
    flex-basis: 62%;
}

.wp-block-mc-blocks-card.is-style-horizontal > p {
    flex-basis: 38%;
}

@media all and (max-width: 640px) {
    .wp-block-mc-blocks-card.is-style-horizontal {
        flex-direction: column;
    }
}

/* purgecss end ignore */