/* purgecss start ignore */
.wp-block-mc-blocks-section {
    color: #fff;
    padding-bottom: 6rem;
    padding-top: 6rem;
}

.wp-block-mc-blocks-section.has-image {
    padding: 0;
    max-width: none;
}

.wp-block-mc-blocks-section {
    background-position: top !important;
}

.wp-block-mc-blocks-section.has-image .section-wrapper {
    align-items: stretch;
}

.wp-block-mc-blocks-section.has-image .section-image {
    margin-right: 3rem;
    object-fit: cover;
}

.wp-block-mc-blocks-section.has-image.section-left .section-wrapper {
    flex-direction: row-reverse;
}

.wp-block-mc-blocks-section.has-image.section-left .section-image {
    margin-right: 0;
}

.wp-block-mc-blocks-section.has-image.section-left .section-heading,
.wp-block-mc-blocks-section.has-image.section-left .section-content p,
.wp-block-mc-blocks-section.has-image.section-left .section-list {
    margin-left: auto;
    margin-right: 3rem;
}

.wp-block-mc-blocks-section.has-image.section-left .section-list li {
    margin-left: 1rem;
}

.wp-block-mc-blocks-section.blue a,
.wp-block-mc-blocks-section.light-blue a,
.wp-block-mc-blocks-section.blue .section-heading,
.wp-block-mc-blocks-section.light-blue .section-heading {
    color: #ffcb05;
}

.wp-block-mc-blocks-section.blue {
    background-color: #00274c;
}

.wp-block-mc-blocks-section.light-blue {
    background-color: #465d85;
}

.wp-block-mc-blocks-section.white .section-heading {
    color: #00274c;
}

.wp-block-mc-blocks-section.white {
    color: #000;
}

.wp-block-mc-blocks-section.white a {
    color: #024794;
}

.wp-block-mc-blocks-section .section-heading {
    line-height: 1.25;
    margin-bottom: 2rem;
}

.wp-block-mc-blocks-section .section-left {
    justify-content: flex-start;
}

.wp-block-mc-blocks-section.section-right .section-wrapper {
    justify-content: flex-end;
}

.wp-block-mc-blocks-section.section-right.has-image .section-wrapper {
    justify-content: normal;
}

.wp-block-mc-blocks-section.has-image .section-text {
    align-self: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.wp-block-mc-blocks-section .section-text .button {
    border-color: #fff;
    color: #fff;
    display: inline-block;
    margin-top: 1rem;
}

.wp-block-mc-blocks-section.light-blue ul li::before,
.wp-block-mc-blocks-section.blue ul li::before {
    background-color: #ffcb05;
}

.wp-block-mc-blocks-section.white ul li::before {
    background-color: #00274c;
}

.wp-block-mc-blocks-section ul li {
    margin-bottom: 1rem;
}


@media (max-width: 768px) {
    .wp-block-mc-blocks-section .section-wrapper {
        display: block;
    }

    .wp-block-mc-blocks-section .section-image {
        width: 100%;
    }

    .wp-block-mc-blocks-section .section-text {
        width: 100%;
    }
    .wp-block-mc-blocks-section.has-image .section-text {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
/* purgecss end ignore */