/* purgecss start ignore */
.wp-block-mc-blocks-section-inner .wp-block-mc-blocks-card {
    flex-basis: 33%;
    flex-grow: 1;
    margin-right: 1rem;
}

.wp-block-mc-blocks-section-inner .wp-block-mc-blocks-card p {
    margin-bottom: 0;
    max-width: none;
}

.wp-block-mc-blocks-section-inner .section-content {
    max-width: 275px;
}

.wp-block-mc-blocks-section-inner.is-style-stacked .inner-blocks {
    flex-direction: column;
    flex-wrap: wrap;
    margin: -0.5rem;
}

.wp-block-mc-blocks-section-inner.is-style-stacked .wp-block-mc-blocks-card {
    margin: 0.5rem;
}
/* purgecss end ignore */