.content {
    margin-bottom: 12rem;
}

.content p,
.content ol,
.content ul,
.content h2,
.content h3,
.content h4 {
    margin-bottom: 1rem;
    max-width: 42rem;
}

.content blockquote,
.content details {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    max-width: 48rem;
}

.content blockquote p {
    margin-left: auto;
    margin-right: auto;
}

.content table {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    max-width: 55rem;
    width: 100%;
}

.content p {
    margin-bottom: 1rem;
}

.content ul,
.content ol {
    margin-left: 1rem;
}

.content ul li {
    position: relative;
}

.content ul li::before {
    background-color: #00274c;
    content: "";
    height: 0.5rem;
    left: -1rem;
    position: absolute;
    top: 0.25rem;
    width: 0.5rem;
}

.content ol {
    list-style-type: decimal;
}