/* purgecss start ignore */
.home .wp-block-mc-blocks-section {
    font-weight: 500;
}

.home .wp-block-mc-blocks-section .section-heading {
    font-size: 1.875rem;
    line-height: 1;
}

.home .wp-block-mc-blocks-section .section-content,
.home .wp-block-mc-blocks-section .section-list {
    font-size: 1.125rem;
}
/* purgecss end ignore */