/* purgecss start ignore */
.header-menu .menu-item {
    margin-right: 2rem;
}

.header-menu .menu-item:last-child {
    margin-right: 0;
}

.header-menu .menu-item a {
    color: #fff;
    position: relative;
}

.header-menu .menu-item a::after {
    background-color: #ffcb05;
    bottom: -0.5rem;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    transition: width 0.15s ease;
    width: 0;
}

.header-menu .menu-item a:hover,
.header-menu .menu-item a:focus {
    text-decoration: none;
}

.header-menu .menu-item a:hover::after,
.header-menu .menu-item a:focus::after {
    transition: width 0.15s ease;
    width: 100%;
}

.header-menu .current-menu-ancestor a::after,
.header-menu .current-menu-item a::after {
    background-color: #ffcb05;
    bottom: -0.5rem;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    width: 100%;
}

@media all and (max-width: 1024px) {
    .header-menu .menu-item a {
        display: block;
        margin-bottom: 0.75rem;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
    }

    .header-menu .menu-item {
        margin-right: 0;
    }

    #header-nav {
        transform: translateX(-16rem);
        transition: transform 0.25s ease-in;
    }

    #header-nav.open {
        transform: translateX(0);
        transition: transform 0.25s ease-out;
    }
}
/* purgecss end ignore */