/* purgecss start ignore */

.clip {
    position: fixed !important;
    _position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.focusable:focus {
    clip: auto;
    position: relative !important;
}

.contained {
    margin-left: auto;
    margin-right: auto;
    max-width: 1282px;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* purgecss end ignore */